{{page-title "Member Detail"}}
<div>
  <Title @title="Team Member">
    <LinkTo @route="team-detail" @model={{this.model.team.id}} class="btn btn-secondary">back</LinkTo>
  </Title>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <FormMember @for="update" @team={{this.model.team}} @dataMember={{this.model}}/>
    </div>
  </div>
  

</div>