{{page-title "Team"}}
<div>
  <Title @title="List Team">
    <button class="btn btn-primary">Add new Team</button>
  </Title>
  {{#each this.model as |team|}}
    <List @team={{team}}>
      <div class="d-flex gap-2 align-self-start">
        <button class="btn btn-outline-primary">Edit Team</button>
        <button class="btn btn-outline-danger">Delete Team</button>
      </div>
    </List>
  {{/each}}

</div>