{{page-title "Add New Team"}}
<div>
  <Title @title="Add New Team">
    <LinkTo @route="team" class="btn btn-secondary">cancel</LinkTo>
  </Title>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <CreateTeam/>
    </div>
  </div>

</div>